@use "../../../styles/abstracts/index" as *;

.loaderContainer {
  @include flex-center;
  display: inline-flex;

  &.center {
    @include center-absolute;
  }
}

.loader {
  border-radius: var(--radius-full);
  border-style: solid;
  border-color: var(--color-border);
  border-top-color: var(--color-primary);
  animation: spin 1s linear infinite;

  &__content {
    @include flex-center;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  &__message {
    color: var(--color-text-light);
    font-weight: var(--font-weight-medium);
    text-align: center;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
