// Margin utilities
.m {
  &-0 {
    margin: var(--spacing-0);
  }
  &-1 {
    margin: var(--spacing-1);
  }
  &-2 {
    margin: var(--spacing-2);
  }
  &-3 {
    margin: var(--spacing-3);
  }
  &-4 {
    margin: var(--spacing-4);
  }
  &-5 {
    margin: var(--spacing-5);
  }
  &-6 {
    margin: var(--spacing-6);
  }
}

// Padding utilities
.p {
  &-0 {
    padding: var(--spacing-0);
  }
  &-1 {
    padding: var(--spacing-1);
  }
  &-2 {
    padding: var(--spacing-2);
  }
  &-3 {
    padding: var(--spacing-3);
  }
  &-4 {
    padding: var(--spacing-4);
  }
  &-5 {
    padding: var(--spacing-5);
  }
  &-6 {
    padding: var(--spacing-6);
  }
}
